body {
    font-family: Arial, sans-serif;
    background: #997666;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/cabecera2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h2{
    font-size: 36px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 30px;
}
header {
    width: 100%;
    color: rgb(2, 2, 2);
    padding: 15px 0;
    font-size: 30px;
    text-align: center;
}
.nhead{
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.nhead:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

nav ul {
    list-style: none;
    color: black;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    max-width: 1200px;
}
.col {
    flex: 1;
    margin: 1px;
}
.imagenes img {
    width: 100%;
    height: auto;
}
.img{
    text-align: center;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 5%;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.img:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
#mapa {
    width: 30%;
    background: #f4f4f4;
    padding: 10px;
}
.ficha {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.ficha:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
article{
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
article:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    .noticias {
        width: 100%;
    }
    #mapa {
        width: 70%;
    }
}